$primary-color: #C0C0C0;
$secondary-color: #b3374e;
$text-color: black;


body {
  background: #a3ce6b;
  font-family: 'Ruda', sans-serif;
}


.submit-button,
.btn-sm {
 
color: $text-color;
max-width: 100px;
border-radius: 10px;
padding: 5px;
height: 100%;
transform: scale(1.05);
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  padding: 5px;
  align-items: center;
  margin-left: 140px;
}


