.btn-register,
.login-button{
    border-radius: 10px;
    padding: 5px;
    
}

h1{
    text-align: center;
    overflow: hidden;
    
}

.buttons{
    align-content: center;
}

.login-form{
    height: 200px;
    width: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}