.genre-text{
    display: block;
    width: 400px;
    height: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.genre-name{
    text-align: center;
}
.back-btn,
.back-btn:hover{
    background-color: #a3ce6b;
    color: black;
    
}